.item-section {
  padding: 0 0 50px;
  .container {
    .item-title {
      text-align: center;
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 2px;
      padding-bottom: 100px;
    }
  }
}
