.main-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding: 0;
  color: #fff;
  border-radius: none;
  .bg-shadow {
    height: 100%;
    .container {
      .main-title {
        color: black;
        padding-top: 200px;
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: 2px;
      }
      .main-lead {
        color: black;
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
  }
}
